@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-[#1b1b1f] dark:text-textDark bg-white text-textLight;
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom CSS */
.mask-big {
  mask-image: url('/maskOne.svg');
  mask-repeat: no-repeat;
  mask-size: 454px auto;
  mask-position: center;
  @apply overflow-hidden lg:max-h-[517px] max-w-[454px] mx-auto;
}

/* Circle Progressbar */
.CircularProgressbar-path {
  @apply !stroke-lime-600 dark:!stroke-amber-500;
}
.CircularProgressbar-trail {
  @apply !stroke-bgInactiveLightLink dark:!stroke-bgInactiveDarkLink;
}
/* Circle Progressbar */
